
body{
    background:linear-gradient(to right,rgb(167, 211, 65),rgb(127, 56, 136));
}
.log{
    width:300px;
    padding:40px;
    position:absolute;
    top:50px;
    left:50%;
    transform: translate(-50%,50%);
    background:rgb(114, 124, 214);
    border:1px solid rgba(161, 75, 75, 0.849);
    text-align: center;
    border-width:10px;

}
.log h1{
    color:black;
}
.log input[type="text"],.log input[type="password"]{
    background: name;
    border: 2px solid rgb(120, 158, 131);
    border-radius: 20px;
    padding: 10px;

}
button:hover{
    color:red;
    padding:10px;
}
#how:hover{
    color:#ac3737;
}
#menu{
    margin-left: 100px;
}